@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);
body {
    font-family: Michroma,serif; 
    background: linear-gradient(71deg, #1d0085 0%, #000000 99%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}
.navbar-nav .nav-link.active {
    color: rgb(157, 160, 160);
}
.navbar-brand img{
    width: 70px;
}
.navbar-toggler {
    background-color:rgb(157, 160, 160)
}
.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #1d0085 0%, #000000 99%);
}
.card {
    background: linear-gradient(270deg, #1d0085 0%, #000000 99%);
    color: aquamarine;
}

.card a {
    color: aquamarine;
    text-decoration: none;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}

}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none ;
    }
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}